//变量用$符定义
$color: #FFFFFF;

body {
    background-color: $color;
    //禁止文字选中
    user-select: none;
}

img {
    //禁止图片拖拽
    -webkit-user-drag: none;
}

//首页
.demo-logo-vertical {
    height: 32px;
    margin: 16px;
    background-color: rgba($color: #FFFFFF, $alpha: 0.3);
    border-radius: 8px;
}